<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>emphasisColor</key>
		<string>#ee3a85</string>
		<key>secondaryActionForegroundColor</key>
		<string>#2fbced</string>
		<key>defaultForegroundColor</key>
		<string>#332e32</string>
		<key>emphasizedAreaForegroundColor</key>
		<string>#ffffff</string>
		<key>highlightedContentForegroundColor</key>
		<string>#ffffff</string>
		<key>dividerColor</key>
		<string>#cccccc</string>
		<key>contentAreaBackgroundColor</key>
		<string>#ffffff</string>
	</dict>
	<key>styles</key>
	<dict>
		<key>contentArea</key>
		<dict>
			<key>backgroundColor</key>
			<string>contentAreaBackgroundColor</string>
		</dict>
		<key>emphasizedArea</key>
		<dict>
			<key>backgroundColor</key>
			<string>emphasisColor</string>
			<key>foregroundColor</key>
			<string>emphasizedAreaForegroundColor</string>
		</dict>
		<key>avatarPhoto</key>
		<dict>
			<key>borderColor</key>
			<string>emphasisColor</string>
			<key>borderWidth</key>
			<integer>3</integer>
			<key>cornerRadius</key>
			<integer>48</integer>
			<key>clipsToBounds</key>
			<true/>
		</dict>
		<key>contentText</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue</string>
				<key>size</key>
				<integer>12</integer>
			</dict>
			<key>foregroundColor</key>
			<string>defaultForegroundColor</string>
		</dict>
		<key>itemLabelText</key>
		<dict>
			<key>parent</key>
			<string>contentText</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue-Bold</string>
			</dict>
		</dict>
		<key>header1Text</key>
		<dict>
			<key>parent</key>
			<string>contentText</string>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>AvantGardeMdITCTTBold</string>
				<key>size</key>
				<integer>24</integer>
			</dict>
		</dict>
		<key>highlightedContentItemLabelText</key>
		<dict>
			<key>parent</key>
			<string>itemLabelText</string>
			<key>foregroundColor</key>
			<string>highlightedContentForegroundColor</string>
		</dict>
		<key>contentDivider</key>
		<dict>
			<key>backgroundColor</key>
			<string>dividerColor</string>
		</dict>
		<key>highlightedContentArea</key>
		<dict>
			<key>backgroundColor</key>
			<string>defaultForegroundColor</string>
			<key>foregroundColor</key>
			<string>highlightedContentForegroundColor</string>
		</dict>
		<key>roundedButton</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>HelveticaNeue-Bold</string>
				<key>size</key>
				<integer>16</integer>
			</dict>
			<key>foregroundColor</key>
			<string>emphasizedAreaForegroundColor</string>
			<key>backgroundColor</key>
			<string>emphasisColor</string>
			<key>highlightedBackgroundColor</key>
			<string>defaultForegroundColor</string>
			<key>cornerRadius</key>
			<integer>22</integer>
		</dict>
		<key>actionIconButton</key>
		<dict>
			<key>foregroundColor</key>
			<string>secondaryActionForegroundColor</string>
			<key>highlightedForegroundColor</key>
			<string>defaultForegroundColor</string>
			<key>tintImageWithForegroundColor</key>
			<true/>
			<key>borderColor</key>
			<string>secondaryActionForegroundColor</string>
			<key>highlightedBorderColor</key>
			<string>defaultForegroundColor</string>
			<key>borderWidth</key>
			<integer>2</integer>
			<key>cornerRadius</key>
			<integer>16</integer>
		</dict>
		<key>highlightedAreaIconButton</key>
		<dict>
			<key>foregroundColor</key>
			<string>highlightedContentForegroundColor</string>
			<key>highlightedForegroundColor</key>
			<string>emphasisColor</string>
			<key>tintImageWithForegroundColor</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
